@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Urbanist", sans-serif;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: teal;
  text-decoration: none;
}

.container {
  width: 1250px;
  max-width: 100%;
  margin: 0 auto;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top center;
}